package views

templ Home() {
<html>
    <head>
    <script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2"
    crossorigin="anonymous"></script>
        <title>HTMX</title>

    </head>
    <body>
        <div>
             <button
                     hx-get="/api/v1/chat"
                      hx-swap="outerHTML"
             >Click Me!</button>
        </div>
    </body>
</html>

}