package views

templ Persona(id string) {
<html>
    <head>
    <script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2"
    crossorigin="anonymous"></script>
        <title>HTMX</title>

    </head>
    <body>
        <div>
            {id}
        </div>
    </body>
</html>

}